<div class="col-10 mt-4 shadow mx-auto border border-bottom-0">
    <div class="row justify-content-end pb-3 pt-3">
        <h3>Despesas</h3>
        <a class="col-1" href="/despesa/cadastro" style="text-decoration: none; color:#0d6efd; font-size:25px"><i
                class="bi bi-plus-square-fill"></i></a>
    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each despesa}}
            <tr>
                <td>{{descricao}}</td>
                <td>R$ {{valor}}</td>
                <td>{{formatDate createdAt}}</td>
                <td>
                    <a href="/despesas/editar/{{id}}" class="p-1" style="text-decoration: none;"><i
                            class="bi bi-pen-fill" style="color: #0d6efd;">Editar</i></a>
                    <a href="/despesas/excluir/{{id}}" onclick="return confirm('Tem certeza que deseja excluir?');"
                        class="p-1" style="text-decoration: none;"><i class="bi bi-trash-fill"
                            style="color: #dc3545;">Excluir</i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>