<div class="col-10 mt-4 shadow mx-auto border border-bottom-0 p-3 rounded-3">
    <div class="row justify-content-end pb-3 pt-3">
        <h3 class="text-bg-primary p-3 rounded-3">Receitas</h3>
        <h5 class="d-flex mt-2 border-bottom border-primary col-4" style="text-decoration: none; color:#0d6efd; font-size:16px; ">Total: R${{totalReceitas}}
        </h5>
        <a class="col-1" href="/receita/cadastro" style="text-decoration: none; color:#0d6efd; font-size:25px"><i
                class="bi bi-plus-square-fill"></i></a>

    </div>
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each receitas}}
            <tr>
                <td>{{descricao}}</td>
                <td>R$ {{valor}}</td>
                <td>{{formatDate updatedAt}}</td>
                <td>
                    <a href="/receita/editar/{{id}}" class="p-2" style="text-decoration: none;"><i class="bi bi-pencil-square" style="color: #0d6efd;"></i></a>
                    <a href="/receita/excluir/{{id}}" onclick="return confirm('Tem certeza que deseja excluir?');"
                        class="p-2" style="text-decoration: none;"><i class="bi bi-trash-fill"
                            style="color: #dc3545;"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>