<div class="col-10 mt-4 shadow mx-auto border border-bottom-0 p-3">
    <h2 class="bg-primary p-3" style="color: white;">Relatório Financeiro</h2>

    <table class="table table-striped">
        <thead class="p-3">
            <tr style="font-size: 20px;">
                <th class="border">Total de Receitas</th>
                <th class="border">Total de Despesas</th>
                <th class="border">Saldo Final</th>
            </tr>
        </thead>
        <tbody>
            <tr style="font-size: 15px; font-weight: 500">
                <td class="text-bg-primary border">R$ {{totalReceitas}}</td>
                <td class="text-bg-danger border">R$ {{totalDespesas}}</td>
                {{#if saldoFinal}}
                {{#if (gt saldoFinal 0)}}
                <td class="text-bg-primary border">R$ {{saldoFinal}}</td>
                {{else}}
                <td class="text-bg-danger border">R$ {{saldoFinal}}</td>
                {{/if}}
                {{/if}}
            </tr>
        </tbody>
    </table>

    {{#if saldoFinal}}
    {{#if (gt saldoFinal 0)}}
    <p class="text-bg-primary p-3"><strong>Situação:</strong> Positiva</p>
    {{else}}
    <p class="text-bg-danger p-3"><strong>Situação:</strong> Negativa</p>
    {{/if}}
    {{/if}}
</div>